.cartLink {
  position: relative;
  text-decoration: none;
}

.badge {
  position: absolute;
  top: -5px;
  right: -7px;
  min-width: 18px;
  height: 18px;
  border-radius: 999px;
  background: #ec4040;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 1;
  font-weight: 700;
  padding: 0 5px;
}
